<div id="container" class="ion-padding">
  <h2>Thanks for subscribing!</h2>
  <p class="ion-margin-bottom">
    You can find the source code of this app here in
    <a href="https://github.com/hardmaster92/endava-connect-it-pwa" target="_blank">this GitHub repo</a>
  </p>

  <p>Useful links:</p>
  <p><a href="https://web.dev/progressive-web-apps" target="_blank">PWA at web.dev</a></p>
  <p><a href="https://www.pwabuilder.com/" target="_blank">PWA Builder</a></p>
  <p><a href="https://developer.mozilla.org/en-US/docs/Web/API" target="_blank">Web APIs Docs (MDN)</a></p>
  <p><a href="https://whatwebcando.today" target="_blank">whatwebcando.today</a></p>
  <p><a href="https://firt.dev" target="_blank">firt.dev</a></p>
  <p><a href="https://www.youtube.com/c/PWASummit" target="_blank">PWA Summit YouTube Channel</a></p>
</div>
