<ion-grid>
  <ion-row>
    <ion-col>Name</ion-col>
    <ion-col>{{ contact.name[0] }}</ion-col>
  </ion-row>
  <ion-row *ngIf="contact.email.length > 0">
    <ion-col>Email</ion-col>
    <ion-col>{{ contact.email[0] }}</ion-col>
  </ion-row>
  <ion-row *ngIf="contact.tel.length > 0">
    <ion-col>Phone number</ion-col>
    <ion-col>{{ contact.tel.join(', ') }}</ion-col>
  </ion-row>
  <ion-row *ngIf="iconUrl">
    <ion-col>Icon</ion-col>
    <ion-col>
      <img [src]="iconUrl" alt="Contact Icon" class="contact-icon">
    </ion-col>
  </ion-row>
</ion-grid>
