<ion-header>
  <ion-toolbar>
    <ion-title>Badging API</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed [ngSwitch]="isSupported">
    <h2 *ngSwitchCase="false">
      <ion-text class="ion-text-wrap" class="ion-text-wrap" color="danger">
        Badging API is not supported 🙁
      </ion-text>
    </h2>
    <ion-list *ngSwitchCase="true">
      <ion-item>
        <ion-label>Badge number</ion-label>
        <ion-input placeholder="e.g. 10" type="number" [(ngModel)]="badgeContent"></ion-input>
      </ion-item>
      <ion-toolbar>
        <ion-buttons>
          <ion-button color="primary" (click)="setBadge()">Set</ion-button>
          <ion-button color="danger" (click)="clearBadge()">Clear</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-list>
  </ion-grid>
</ion-content>
