<ion-grid fixed>
  <h2 *ngIf="networkInfo === null">
    <ion-text class="ion-text-wrap" color="danger">
      Network Information API is not supported 🙁
    </ion-text>
  </h2>
  <ion-list *ngIf="networkInfo">
    <ion-item>
      <ion-label>Connection type</ion-label>
      <ion-note slot="end" color="primary">
        {{ networkInfo.type }}
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-label>Downlink</ion-label>
      <ng-container [ngSwitch]="networkInfo.downlink">
        <ion-icon *ngSwitchCase="undefined" slot="end" name="ban" color="danger"></ion-icon>
        <ion-note *ngSwitchDefault="" slot="end" color="primary">
          {{ networkInfo.downlink }} Mb/s
        </ion-note>
      </ng-container>
    </ion-item>
    <ion-item>
      <ion-label>Round-trip Time</ion-label>
      <ng-container [ngSwitch]="networkInfo.rtt">
        <ion-icon *ngSwitchCase="undefined" slot="end" name="ban" color="danger"></ion-icon>
        <ion-note *ngSwitchDefault="" slot="end" color="primary">
          {{ networkInfo.rtt }} ms
        </ion-note>
      </ng-container>
    </ion-item>
    <ion-item>
      <ion-label>Downlink Max</ion-label>
      <ng-container [ngSwitch]="networkInfo.downlinkMax">
        <ion-icon *ngSwitchCase="undefined" slot="end" name="ban" color="danger"></ion-icon>
        <ion-note *ngSwitchDefault="" slot="end" color="primary">
          {{ networkInfo.downlinkMax }} Mb/s
        </ion-note>
      </ng-container>
    </ion-item>
    <ion-item>
      <ion-label>Effective type</ion-label>
      <ng-container [ngSwitch]="networkInfo.effectiveType">
        <ion-icon *ngSwitchCase="undefined" slot="end" name="ban" color="danger"></ion-icon>
        <ion-note *ngSwitchDefault="" slot="end" color="primary">
          {{ networkInfo.effectiveType }}
        </ion-note>
      </ng-container>
    </ion-item>
    <ion-item>
      <ion-label>Data Saving Enabled</ion-label>
      <ng-container [ngSwitch]="networkInfo.saveData">
        <ion-icon *ngSwitchCase="undefined" slot="end" name="ban" color="danger"></ion-icon>
        <ion-note *ngSwitchDefault="" slot="end" color="primary">
          {{ networkInfo.saveData ? 'Yes' : 'No' }}
        </ion-note>
      </ng-container>
    </ion-item>
  </ion-list>
</ion-grid>
