<ion-content>
  <ion-grid *ngIf="errorMessage">
    <ion-item>
      <ion-text class="ion-text-wrap" color="danger">{{ errorMessage }}</ion-text>
    </ion-item>
  </ion-grid>
  <ion-grid fixed [ngSwitch]="isSupported">
    <h2 *ngSwitchCase="false">
      <ion-text class="ion-text-wrap" class="ion-text-wrap" color="danger">
        Speech Recognition is not supported 🙁
      </ion-text>
    </h2>
    <ion-list *ngSwitchCase="true" lines="full">
      <ion-list-header>
        <ion-label class="ion-text-wrap">Change the color of the square with voice commands</ion-label>
      </ion-list-header>
      <ion-item>
        <div class="square" [style.background-color]="squareColor"></div>
      </ion-item>
      <ion-item *ngIf="isListening">
        <ion-label color="warning">Listenning...</ion-label>
      </ion-item>
      <ion-toolbar class="ion-margin-bottom">
        <ion-buttons slot="start">
          <ion-button color="primary" (click)="recognizeColor()">
            <ion-icon name="mic-circle" slot="end"></ion-icon>
            Press here and name a color
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-list>
  </ion-grid>
</ion-content>
