<ion-content>
@if (errorMessage) {
  <ion-grid>
    <ion-item>
      <ion-text class="ion-text-wrap" color="danger">{{ errorMessage }}</ion-text>
    </ion-item>
  </ion-grid>
}
  <ion-grid fixed>
  @switch (isSupported) {
    @case (false) {
    <h2>
      <ion-text class="ion-text-wrap" class="ion-text-wrap" color="danger">
        Speech Recognition is not supported 🙁
      </ion-text>
    </h2>
    }
    @case (true) {
    <ion-list lines="full">
      <ion-list-header>
        <ion-label class="ion-text-wrap">Change the color of the square with voice commands</ion-label>
      </ion-list-header>
      <ion-item>
        <div class="square" [style.background-color]="squareColor"></div>
      </ion-item>
      @if (isListening) {
      <ion-item>
        <ion-label color="warning">Listenning...</ion-label>
      </ion-item>
      }
      <ion-toolbar class="ion-margin-bottom">
        <ion-buttons slot="start">
          <ion-button color="primary" (click)="recognizeColor()">
            <ion-icon md="mic-circle" ios="mic-circle-outline" slot="end" />
            Press here and name a color
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-list>
    }
  }
</ion-grid>
</ion-content>
