<ion-content>
  <ion-grid fixed [ngSwitch]="isSupported">
    <h2 *ngSwitchCase="false">
      <ion-text class="ion-text-wrap" class="ion-text-wrap" color="danger">
        Vibrate API is not supported 🙁
      </ion-text>
    </h2>
    <ion-list *ngSwitchCase="true">
      <ion-item>
        <ion-input
          type="number"
          [step]="1"
          label="Duration (ms)"
          [(ngModel)]="vibrateDuration"
        />
      </ion-item>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button color="primary" (click)="vibrate()">Vibrate</ion-button>
          <ion-button color="danger" (click)="stop()">Stop</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-list>
  </ion-grid>
</ion-content>
