<ion-content>
  <ion-grid fixed>
  @switch (isSupported) {
    @case (false) {
    <h2>
      <ion-text class="ion-text-wrap" class="ion-text-wrap" color="danger">
        Vibrate API is not supported 🙁
      </ion-text>
    </h2>
    }
    @case (true) {
    <ion-list>
      <ion-item>
        <ion-input
          type="number"
          label="Duration (ms)"
          [step]="1"
          [(ngModel)]="vibrateDuration"
        />
      </ion-item>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button color="primary" (click)="vibrate()">Vibrate</ion-button>
          <ion-button color="danger" (click)="stop()">Stop</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-list>
    }
  }
  </ion-grid>
</ion-content>
