<ion-header>
  <ion-toolbar>
    <ion-title>Vibrate API</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed [ngSwitch]="isSupported">
    <h2 *ngSwitchCase="false">
      <ion-text class="ion-text-wrap" class="ion-text-wrap" color="danger">
        Vibrate API is not supported 🙁
      </ion-text>
    </h2>
    <ion-list *ngSwitchCase="true">
      <ion-item>
        <ion-label color="primary">Duration (ms)</ion-label>
        <ion-input type="number" [step]="1" [(ngModel)]="vibrateDuration"></ion-input>
      </ion-item>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button color="primary" (click)="vibrate()">Vibrate</ion-button>
          <ion-button color="danger" (click)="stop()">Stop</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-list>
  </ion-grid>
</ion-content>
