<ion-content>
  <ion-grid fixed>
    <ion-list>
      <ion-item>
        <ion-label>Device Memory</ion-label>
        @switch (deviceMemory) {
          @case (undefined) {
          <ion-icon slot="end" name="ban" color="danger" />
          }
          @default {
          <ion-note slot="end" color="primary">
            {{ deviceMemory }} GB
          </ion-note>
          }
        }
      </ion-item>
      <ion-item>
        <ion-label>CPU Cores (Logical)</ion-label>
        @switch (logicalCores) {
          @case (undefined) {
          <ion-icon slot="end" name="ban" color="danger" />
          }
          @default {
          <ion-note slot="end" color="primary">
            {{ logicalCores }}
          </ion-note>
          }
        }
      </ion-item>
      <ion-item>
        <ion-label>Maximum Touch Points on Screen</ion-label>
        <ion-note slot="end" color="primary">
          {{ maxTouchPoints }}
        </ion-note>
      </ion-item>
      <ion-item>
        <ion-label>Languages</ion-label>
        <ion-note slot="end">{{ languages }}</ion-note>
      </ion-item>
    </ion-list>
  </ion-grid>
</ion-content>
