<ion-content>
  <ion-list>
    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button
              color="primary"
              expand="block"
              size="small"
              (click)="requestLocation()"
            >
              <ion-icon md="locate" ios="locate-outline" slot="start" />
              Request location
            </ion-button>
          </ion-col>
          <ion-col>
          @switch (watchId) {
            @case (null) {
              <ion-button
                color="warning"
                expand="block"
                size="small"
                (click)="watchLocation()"
              >
                <ion-icon md="eye" ios="eye-outline" slot="start" />
                Watch location
              </ion-button>
            }
            @default {
              <ion-button
                color="danger"
                expand="block"
                size="small"
                (click)="clearWatch()"
              >
                <ion-icon md="eye-off" ios="eye-off-outline" slot="start" />
                Clear location watch
              </ion-button>
            }
          }
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

  @if (errorMessage) {
    <ion-item>
      <ion-text class="ion-text-wrap" color="danger">{{ errorMessage }}</ion-text>
    </ion-item>
  }

  @if (iFrameSrc) {
    <iframe
      class="google-map"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
      [src]="iFrameSrc"
    ></iframe>
  }
  </ion-list>

@if (position) {
  <ion-grid fixed>
    <ion-list>
      <ion-item>
        <ion-label>Time</ion-label>
        <ion-note slot="end" color="primary">
          {{ position.timestamp | date:'medium' }}
        </ion-note>
      </ion-item>
      <ion-item>
        <ion-label>Latitude</ion-label>
        <ion-note slot="end" color="primary">
          {{ position.coords.latitude }}°
        </ion-note>
      </ion-item>
      <ion-item>
        <ion-label>Longitude</ion-label>
        <ion-note slot="end" color="primary">
          {{ position.coords.longitude }}°
        </ion-note>
      </ion-item>
      <ion-item>
        <ion-label>Accuracy</ion-label>
        <ion-note slot="end" color="primary">
          {{ position.coords.accuracy }} m
        </ion-note>
      </ion-item>
      @if (position.coords.altitude !== null) {
      <ion-item>
        <ion-label>Altitude</ion-label>
        <ion-note slot="end" color="primary">
          {{ position.coords.altitude }} m
        </ion-note>
      </ion-item>
      }
      @if (position.coords.altitudeAccuracy !== null) {
      <ion-item>
        <ion-label>Altitude Accuracy</ion-label>
        <ion-note slot="end" color="primary">
          {{ position.coords.altitudeAccuracy }} m
        </ion-note>
      </ion-item>
      }
      @if (position.coords.speed !== null) {
      <ion-item>
        <ion-label>Speed</ion-label>
        <ion-note slot="end" color="primary">
          {{ position.coords.speed }}
        </ion-note>
      </ion-item>
      }
      @if (position.coords.heading !== null) {
      <ion-item>
        <ion-label>Heading</ion-label>
        <ion-note slot="end" color="primary">
          {{ position.coords.heading }}
        </ion-note>
      </ion-item>
      }
    </ion-list>
  </ion-grid>
}
</ion-content>
