<ion-content>
  @if (errorMessage) {
  <ion-grid>
    <ion-item>
      <ion-text class="ion-text-wrap" color="danger">{{ errorMessage }}</ion-text>
    </ion-item>
  </ion-grid>
  }
  <ion-grid fixed class="ion-no-padding">
  @switch (isSupported) {
    @case (false) {
    <h2>
      <ion-text class="ion-text-wrap" class="ion-text-wrap" color="danger">
        Contact Picker API is not supported 🙁
      </ion-text>
    </h2>
    }
    @case (true) {
    <ion-list lines="full">
      <ion-item>
        <ion-select multiple label="Properties" [(ngModel)]="selectedProps">
          @for (prop of availableProps; track prop) {
            <ion-select-option [value]="prop">
              {{ prop }}
            </ion-select-option>
          }
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-checkbox [(ngModel)]="multiple">Multiple selection</ion-checkbox>
      </ion-item>
      <ion-toolbar class="ion-margin-bottom">
        <ion-buttons slot="start">
          <ion-button color="primary" (click)="selectContacts()">
            Select Contacts
            <ion-icon md="people" ios="people-outline" slot="end" />
          </ion-button>
        </ion-buttons>
      </ion-toolbar>

      @for (contact of contacts; track contact) {
      <ion-item>
        <app-contact-item [contact]="contact" />
      </ion-item>
      }
    </ion-list>
    }
  }
  </ion-grid>
</ion-content>
