<ion-app>
  <ion-menu side="start" contentId="main-content">
    <ion-header>
      <ion-toolbar translucent>
        <ion-buttons slot="start">
          <ion-menu-toggle [autoHide]="false">
            <ion-button
              type="button"
              shape="round"
              routerDirection="root"
              routerLink="/"
            >
              <img slot="start" src="assets/icons/favicon.png" alt="endava logo" height="32">
            </ion-button>
          </ion-menu-toggle>
        </ion-buttons>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list class="menu-list">
        <ion-menu-toggle
          *ngIf="deferredInstallPrompt !== null"
          class="btn-install"
          [autoHide]="false"
          (click)="installApp()"
        >
          <ion-item color="tertiary">
            <ion-icon name="cloud-download" slot="start"></ion-icon>
            <ion-label>Install app</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle [autoHide]="false">
          <ion-item
            routerDirection="root"
            routerLink="/device-info"
            routerLinkActive="selected"
          >
            <ion-icon name="information-circle" slot="start"></ion-icon>
            <ion-label>Device Info</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle [autoHide]="false">
          <ion-item
            routerDirection="root"
            routerLink="/battery"
            routerLinkActive="selected"
          >
            <ion-icon name="battery-charging" slot="start"></ion-icon>
            <ion-label>Battery API</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle [autoHide]="false">
          <ion-item
            routerDirection="root"
            routerLink="/network-info"
            routerLinkActive="selected"
          >
            <ion-icon name="wifi" slot="start"></ion-icon>
            <ion-label>Network Information API</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle [autoHide]="false">
          <ion-item
            routerDirection="root"
            routerLink="/geolocation"
            routerLinkActive="selected"
          >
            <ion-icon name="location" slot="start"></ion-icon>
            <ion-label>Geolocation API</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle [autoHide]="false">
          <ion-item
            routerDirection="root"
            routerLink="/badge"
            routerLinkActive="selected"
          >
            <ion-icon name="pricetag" slot="start"></ion-icon>
            <ion-label>App Badge</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle [autoHide]="false">
          <ion-item
            routerDirection="root"
            routerLink="/contacts"
            routerLinkActive="selected"
          >
            <ion-icon name="person-circle" slot="start"></ion-icon>
            <ion-label>Contacts</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
<app-ios-install-popup *ngIf="canDisplayIosInstall" (dismiss)="dismissIosInstall()"></app-ios-install-popup>
