<ion-app>
  <ion-menu side="start" contentId="main-content">
    <ion-header>
      <ion-toolbar translucent>
        <ion-buttons slot="start">
          <ion-menu-toggle [autoHide]="false">
            <ion-button
              type="button"
              shape="round"
              routerDirection="root"
              routerLink="/"
            >
              <img slot="start" src="assets/icons/favicon.png" alt="logo" height="32">
            </ion-button>
          </ion-menu-toggle>
        </ion-buttons>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list class="menu-list">
      @for (item of menuItems; track item) {
        <ion-menu-toggle [autoHide]="false">
          <ion-item
            routerDirection="root"
            routerLinkActive="item-active"
            [routerLink]="item.routerLink"
          >
            <ion-icon
              slot="start"
              [md]="item.iconName"
              [ios]="item.iconName + '-outline'"
             />
            <ion-label>{{ item.label }}</ion-label>
          </ion-item>
        </ion-menu-toggle>
      }
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-header>
    <ion-toolbar>
      <ion-title>{{ pageTitle }}</ion-title>
      <ion-buttons slot="start">
        <ion-menu-button />
      </ion-buttons>
      @if (!isOnline) {
      <ion-buttons slot="end">
        <ion-button type="button" color="danger">
          <ion-icon md="cloud-offline" ios="cloud-offline-outline" />
        </ion-button>
      </ion-buttons>
      }
    </ion-toolbar>
  </ion-header>

  <ion-router-outlet id="main-content" />

@if (deferredInstallPrompt !== null || canDisplayIosInstall) {
  <ion-fab
    horizontal="end"
    vertical="top"
    slot="fixed"
    (click)="installApp()"
  >
    <ion-fab-button color="danger" size="small" title="Install app">
      <ion-icon md="cloud-download" ios="cloud-download-outline" />
    </ion-fab-button>
  </ion-fab>
}
</ion-app>

@if (displayIosInstall) {
<app-ios-install-popup (dismiss)="dismissIosInstall()" />
}
