<ion-content>
  <ion-grid *ngIf="errorMessage">
    <ion-item>
      <ion-text class="ion-text-wrap" color="danger">{{ errorMessage }}</ion-text>
    </ion-item>
  </ion-grid>
  <ion-grid fixed [ngSwitch]="isSupported">
    <h2 *ngSwitchCase="false">
      <ion-text class="ion-text-wrap" class="ion-text-wrap" color="danger">
        Speech Synthesis is not supported 🙁
      </ion-text>
    </h2>
    <ion-list *ngSwitchCase="true" lines="full">
      <ion-item>
        <ion-select [(ngModel)]="selectedVoice" label="Voice">
          <ion-select-option *ngFor="let voice of voices" [value]="voice.name">
            {{ voice.name }} ({{ voice.lang }})
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-range
          [(ngModel)]="pitch"
          [min]="0.1"
          [max]="2"
          [step]="0.1"
          snaps
          pin
          [pinFormatter]="pinFormatter"
          color="secondary"
          labelPlacement="start"
        >
          <div slot="label">Pitch</div>
          <div slot="start">0</div>
          <div slot="end">2</div>
        </ion-range>
      </ion-item>
      <ion-item>
        <ion-range
          [(ngModel)]="rate"
          [min]="0.25"
          [max]="2"
          [step]="0.25"
          snaps
          pin
          [pinFormatter]="pinFormatter"
          color="secondary"
          labelPlacement="start"
        >
          <div slot="label">Rate</div>
          <div slot="start">x0.25</div>
          <div slot="end">x2</div>
        </ion-range>
      </ion-item>
      <ion-item>
        <ion-textarea
          [rows]="2"
          [(ngModel)]="text"
          label="Text"
          labelPlacement="floating"
        ></ion-textarea>
      </ion-item>
      <ion-toolbar class="ion-margin-bottom">
        <ion-buttons slot="start">
          <ion-button color="primary" (click)="speak()">
            <ion-icon md="megaphone" ios="megaphone-outline" slot="end"></ion-icon>
            Speak
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-list>
  </ion-grid>
</ion-content>
