<ion-header>
  <ion-toolbar>
    <ion-title>Device Orientation API</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed class="ion-no-padding">
    <div
      class="cube"
      [style.transform]="'rotateX('
        + orientation.beta + 'deg) rotateY('
        + orientation.gamma + 'deg) rotateZ('
        + orientation.alpha + 'deg)'"
    >
      <div class="face one">1</div>
      <div class="face two">2</div>
      <div class="face three">3</div>
      <div class="face four">4</div>
      <div class="face five">5</div>
      <div class="face six">6</div>
   </div>
    <ion-list>
      <ion-item>
        <ion-label color="primary">Coordinates</ion-label>
        <ion-note>({{ orientation.beta }}, {{ orientation.gamma }}, {{ orientation.alpha }})</ion-note>
      </ion-item>
      <ion-item>
        <ion-label color="primary">Absolute position?</ion-label>
        <ion-note>{{ orientation.absolute ? 'Yes' : 'No' }}</ion-note>
      </ion-item>
      <ion-item *ngIf="motion.acceleration">
        <ion-label color="primary">Acceleration (m/s<sup>2</sup>)</ion-label>
        <ion-note>
          ({{ motion.acceleration.x }},
          {{ motion.acceleration.y }},
          {{ motion.acceleration.z }})
        </ion-note>
      </ion-item>
      <ion-item *ngIf="motion.accelerationIncludingGravity">
        <ion-label color="primary">Acceleration incl. gravity (m/s<sup>2</sup>)</ion-label>
        <ion-note>
          ({{ motion.accelerationIncludingGravity.x }},
          {{ motion.accelerationIncludingGravity.y }},
          {{ motion.accelerationIncludingGravity.z }})
        </ion-note>
      </ion-item>
      <ion-item *ngIf="motion.rotationRate">
        <ion-label color="primary">Rotation rate</ion-label>
        <ion-note>({{ motion.rotationRate.beta }}, {{ motion.rotationRate.gamma }}, {{ motion.rotationRate.alpha }})</ion-note>
      </ion-item>
      <ion-item>
        <ion-label color="primary">Interval (ms)</ion-label>
        <ion-note>{{ motion.interval }}</ion-note>
      </ion-item>
    </ion-list>
  </ion-grid>
</ion-content>
