<ion-content>
  <ion-grid *ngIf="errorMessage">
    <ion-item>
      <ion-text class="ion-text-wrap" color="danger">{{ errorMessage }}</ion-text>
    </ion-item>
  </ion-grid>

  <ion-grid fixed [ngSwitch]="isSupported">
    <h2 *ngSwitchCase="false">
      <ion-text class="ion-text-wrap" class="ion-text-wrap" color="danger">
        Barcode Detection API is not supported 🙁
      </ion-text>
    </h2>

    <ion-list *ngSwitchCase="true">
      <ion-accordion-group>
        <ion-accordion value="formats">
          <ion-item slot="header">
            <ion-label>Supported Barcodes</ion-label>
          </ion-item>

          <ion-list slot="content">
            <ion-item *ngFor="let format of supportedFormats">
              <ion-label>{{ format }}</ion-label>
            </ion-item>
          </ion-list>
        </ion-accordion>
      </ion-accordion-group>

      <ion-item>
        <ion-input
          type="file"
          accept="image/*"
          label="Barcode image"
          (ionChange)="onImageChange($event)"
        />
      </ion-item>
      <ng-container *ngIf="detectedBarcodes.length > 0">
        <ion-item>
          <img alt="Barcode image" class="barcode-picture" [src]="pictureSafeUrl">
        </ion-item>
        <ion-list-header>
          Detected barcodes:
        </ion-list-header>
        <ion-item *ngFor="let barcode of detectedBarcodes">
          <ion-label>{{ barcode.rawValue }}</ion-label>
          <ion-note slot="end">{{ barcode.format }}</ion-note>
        </ion-item>
      </ng-container>
    </ion-list>
  </ion-grid>
</ion-content>
