<ion-content>
@if (errorMessage) {
  <ion-grid>
    <ion-item>
      <ion-text class="ion-text-wrap" color="danger">{{ errorMessage }}</ion-text>
    </ion-item>
  </ion-grid>
}
  <ion-grid fixed>
  @switch (isSupported) {
    @case (false) {
    <h2>
      <ion-text class="ion-text-wrap" color="danger">
        Push API is not supported 🙁
      </ion-text>
    </h2>
    }
    @case (true) {
    <ion-list>
      <ion-toolbar>
        <ion-buttons slot="start">
        @switch (pushSubscription) {
          @case (null) {
          <ion-button

            color="primary"
            (click)="subscribe()"
          >
            Subscribe
            <ion-icon slot="end" md="notifications" ios="notifications-outline" />
          </ion-button>
          }
          @default {
            <ion-button color="warning" (click)="schedule()">
              Schedule
              <ion-icon slot="end" md="mail-unread" ios="mail-unread-outline" />
            </ion-button>
            <ion-button color="danger" (click)="unsubscribe()">
              Unsubscribe
              <ion-icon slot="end" md="notifications-off" ios="notifications-off-outline" />
            </ion-button>

          }
        }
        </ion-buttons>
      </ion-toolbar>
      @if (!!pushSubscription) {
        <ion-list-header>Subscription:</ion-list-header>
        @if (pushSubscription.expirationTime !== null) {
          <ion-item>
            <ion-label>{{ pushSubscription.expirationTime | date:'medium' }}</ion-label>
          </ion-item>
        }
        <ion-item>
          <ion-text class="ion-text-wrap">{{ pushSubscription.endpoint }}</ion-text>
        </ion-item>
      }
      <ion-list-header>
        Received messages:
      </ion-list-header>
      @for (message of notificationMessages; track message) {
      <ion-item>
        <ion-text class="ion-text-wrap">{{ message | json }}</ion-text>
      </ion-item>
      }
    </ion-list>
    }
  }
</ion-grid>
</ion-content>
