<ion-content>
  <ion-grid *ngIf="errorMessage">
    <ion-item>
      <ion-text class="ion-text-wrap" color="danger">{{ errorMessage }}</ion-text>
    </ion-item>
  </ion-grid>
  <ion-grid fixed [ngSwitch]="isSupported">
    <h2 *ngSwitchCase="false">
      <ion-text class="ion-text-wrap" class="ion-text-wrap" color="danger">
        Web Share API is not supported 🙁
      </ion-text>
    </h2>
    <ion-list *ngSwitchCase="true">
      <ion-item>
        <ion-input
          type="text"
          clearInput
          label="Title"
          [(ngModel)]="shareData.title"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-textarea
          autoGrow [rows]="3"
          label="Text"
          [(ngModel)]="shareData.text"
        ></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-input
          type="url"
          inputmode="url"
          clearInput
          label="URL"
          [(ngModel)]="shareData.url"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          type="file"
          multiple
          clearInput
          label="Files"
          (ionChange)="onFileChange($event)">
        </ion-input>
      </ion-item>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button color="primary" (click)="share()">
            <ion-icon md="share" ios="share-outline" slot="end"></ion-icon>
            Share
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-list>
  </ion-grid>
</ion-content>
