<ion-content>
  <ion-grid fixed class="ion-no-padding">
    <ion-list>
      <ion-item *ngIf="imageUrl">
        <img [src]="imageUrl" alt="Captured photo" class="photo">
      </ion-item>
      <ion-toolbar>
        <ion-buttons>
          <ion-button color="primary" (click)="takePicture()">
            <ion-icon md="camera" ios="camera-outline" slot="end"></ion-icon>
            Take picture
          </ion-button>
          <ion-button color="danger" slot="end" (click)="clearPicture()">
            <ion-icon md="trash" ios="trash-outline"></ion-icon>
            Clear picture
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-list>
  </ion-grid>
</ion-content>
